---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="section-title">
  <h1>{title}</h1>
  <hr />
</div>

<style lang="scss">
  .section-title {
    margin: auto;
    padding-bottom: 3rem;
    padding-top: 1.25rem;
    width: fit-content;
    h1 {
      text-align: center;
      font-size: 2.25rem;
      line-height: 2.5rem;
      margin: 1rem 1.5rem 0.25rem 1.5rem;
      color: #6b7280;
    }
    hr {
      height: 3px;
      background-color: #ea580c;
    }
  }
</style>
