---
interface Props {
  title: string;
  animationReverse?: boolean;
}

const { title, animationReverse = false } = Astro.props;
---

<div class="section-title">
  <h1 data-animation={animationReverse ? "fade-in-right" : "fade-in-left"}>
    {title}
  </h1>
  <hr data-animation={animationReverse ? " fade-in-left" : "fade-in-right"} />
</div>

<style lang="scss">
  .section-title {
    margin: auto;
    padding-bottom: 3rem;
    padding-top: 1.25rem;
    width: fit-content;
    h1,
    hr {
      animation-duration: 0.6s;
    }
    h1 {
      text-align: center;
      font-size: 2.25rem;
      line-height: 2.5rem;
      margin: 1rem 1.5rem 0.25rem 1.5rem;
      color: #6b7280;
    }
    hr {
      height: 3px;
      outline: none;
      background-color: #ea580c;
    }
  }
</style>
