$slate-800: #1e293b;
$slate-600: #475569;
$slate-500: #64748b;
$gray-800: #1f2937;
$gray-600: #4b5563;
$gray-500: #6b7280;
$gray-400: #9ca3af;
$gray-50: #f9fafb;
$orange-400: #fb923c;
$amber-500: #f59e0b;
$sky-600: #0284c7;
$footer-bg: #002028;
$navbar-bg: #101820ff