---
import SkillBar from "./SkillBar.astro";
import Info from "./Info.astro";
import AboutMeImage from "@images/about.png";
import SectionTitle from "@components/homePage/SectionTitle.astro";


// #FIXME
interface Props {
  id: string;
}

const { id } = Astro.props;

const skills = [
  {
    skillName: "HTML, CSS",
    percentage: 90,
    barColors: {
      skillName: "#ea580c",
      progressBar: "#f97316"
    }
  },
  {
    skillName: "Javascript",
    percentage: 90,
    barColors: {
      skillName: "#ea580c",
      progressBar: "#f97316"
    }
  },
  {
    skillName: "Typescript",
    percentage: 80,
    barColors: {
      skillName: "#ea580c",
      progressBar: "#f97316"
    }
  },
  {
    skillName: "Vue",
    percentage: 90,
    barColors: {
      skillName: "#ea580c",
      progressBar: "#f97316"
    }
  },
  {
    skillName: "React",
    percentage: 90,
    barColors: {
      skillName: "#ea580c",
      progressBar: "#f97316"
    }
  },
  {
    skillName: "Astro",
    percentage: 80,
    barColors: {
      skillName: "#ea580c",
      progressBar: "#f97316"
    }
  },
  {
    skillName: "Nuxt",
    percentage: 70,
    barColors: {
      skillName: "#ea580c",
      progressBar: "#f97316"
    }
  },
  {
    skillName: "PWA",
    percentage: 60,
    barColors: {
      skillName: "#ea580c",
      progressBar: "#f97316"
    }
  }
];
---

<div id={id} class="about-me">
  <SectionTitle title="About" />
  <section class="about-me__content">
    <Info
      title="Who Is This Guy ?"
      description="I’m Bamdad, a Senior Front-End Engineer who loves building sleek, user-friendly web apps. I thrive on solving problems, collaborating with teams, and delivering smooth solutions.When I’m not coding, you’ll find me exploring new tech or enjoying a good cup of coffee."
      image={{ src: AboutMeImage, alt: "Bamdad Sabet" }}
    />
    <div class="skill-sets">
      {
        skills.map((skill, index) => (
          <SkillBar
            skillName={skill.skillName}
            percentage={skill.percentage}
            barColors={skill.barColors}
            animationDelay={`${index * 0.2}s`}
          />
        ))
      }
    </div>
  </section>
</div>
<style lang="scss">
  .about-me {
    padding: 6.25rem 2rem;
    &__content {
      display: flex;
      justify-content: center;
      column-gap: 5rem;
      @include media("lg") {
        flex-direction: column;
        row-gap: 3rem;
        align-items: center;
      }
    }
    @include media("sm") {
      padding: 0 1rem;
    }
  }
  .skill-sets {
    width: 60%;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    @include media("~lg") {
      transform: translateY(-5rem);
      justify-content: center;
    }
    @include media("lg", "~md") {
      max-width: 43.75rem;
      width: 90%;
    }
    @include media("md") {
      width: 100%;
    }
  }
</style>
