---
interface Props {
  title: string;
  metaDescription: string;
}

const { title, metaDescription } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <slot name="head">
      <meta name="description" content={metaDescription} />
      <title>{title}</title>
    </slot>
  </head>
  <body>
    <slot />
  </body>
</html>
